<h1>
  Add a new setting
</h1>


<hr>

<!-- Form setting start -->
<form action="/create_setting" method="post">
<!-- Form setting end -->

  <!-- Label and input for owner_id start -->
  <div class="form-group">
    <label for="owner_id">
      Owner
    </label>

    <!-- Input for owner_id start -->
    <input type="text" id="owner_id" name="owner_id" class="form-control">
    <!-- Input for owner_id end -->
  </div>
  <!-- Label and input for owner_id end -->

  <!-- Label and input for upper_digit_limit start -->
  <div class="form-group">
    <label for="upper_digit_limit">
      Upper digit limit
    </label>

    <!-- Input for upper_digit_limit start -->
    <input type="text" id="upper_digit_limit" name="upper_digit_limit" class="form-control">
    <!-- Input for upper_digit_limit end -->
  </div>
  <!-- Label and input for upper_digit_limit end -->

  <!-- Label and input for lower_digit_limit start -->
  <div class="form-group">
    <label for="lower_digit_limit">
      Lower digit limit
    </label>

    <!-- Input for lower_digit_limit start -->
    <input type="text" id="lower_digit_limit" name="lower_digit_limit" class="form-control">
    <!-- Input for lower_digit_limit end -->
  </div>
  <!-- Label and input for lower_digit_limit end -->

  <!-- Label and input for multiplication start -->
  <div class="form-check">
    <input type="hidden" value="0" name="multiplication">
    <!-- Input for multiplication start -->
    <input id="multiplication" class="form-check-input" name="multiplication" type="checkbox">
    <!-- Input for multiplication end -->
    <label for="multiplication" class="form-check-label">
      Multiplication
    </label>
  </div>

  <!-- Label and input for addition start -->
  <div class="form-check">
    <input type="hidden" value="0" name="addition">
    <!-- Input for addition start -->
    <input id="addition" class="form-check-input" name="addition" type="checkbox">
    <!-- Input for addition end -->
    <label for="addition" class="form-check-label">
      Addition
    </label>
  </div>

  <!-- Label and input for division start -->
  <div class="form-check">
    <input type="hidden" value="0" name="division">
    <!-- Input for division start -->
    <input id="division" class="form-check-input" name="division" type="checkbox">
    <!-- Input for division end -->
    <label for="division" class="form-check-label">
      Division
    </label>
  </div>

  <!-- Label and input for subtraction start -->
  <div class="form-check">
    <input type="hidden" value="0" name="subtraction">
    <!-- Input for subtraction start -->
    <input id="subtraction" class="form-check-input" name="subtraction" type="checkbox">
    <!-- Input for subtraction end -->
    <label for="subtraction" class="form-check-label">
      Subtraction
    </label>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create setting
  </button>
</form>

<hr>

<a href="/settings">
  Go back
</a>
